<!DOCTYPE html>
<html lang="es"> 
    <head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegan Knits - Tejidos Hechos a Mano</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../imagenes/favicon.png">
    </head>

    <body class="contenedorGrid" >
        <nav class="nav gradienteinv">
            <a href="../index.html">
            <img class="logoAnimado" src="../imagenes/logo.png" alt="logo de vegan knits">
            </a>
        
            <ul>
                <li>
                    <a href="lana.html">LANA</a>
                </li>
            <li>
                <a href="cotton.html">COTTON</a>
            </li>
            <li>
            <a href="customized.html">CUSTOMIZED</a>
            </li>
            <li>
            <a href="contacto.html">CONTACTO</a>
            </li>
            </ul>
        </nav>
        <!-- ends nav -->
        <header class="header">
            <div>
            <p class="boxEncabezado textBold textCenter textWhite bgGreen">
            TEJIDOS EN FIBRA DE ALGODÓN Y ACRÍLICO</p> 
        </div>
        <img src="../imagenes/header-index.png" alt="seis fotografias de sweaters">
        </header>
        <!--ends header-->


        <main class="main 
        contenedorGrid-contacto bodyContact textCenter textBlack gradiente">

        <h3 class="boxEncabezado textBold">
            CONTACTANOS
        </h3>


        <div class="boxContacto flexContact textBlack">
                <form action="">
                    <p class="margin textsizeContact">
                    <label>Nombre:</label>
                        <input type="text" name="nombre">
                    </p>
                    <p class="marginContact textsizeContact">
                        <label>Correo electrónico:</label>
                        <input type="email" name="email">
                    </p>
                    <p class="marginContact textsizeContact">
                        <label>Dejanos tu mensaje:</label> 
                        <textarea name="mensaje" rows="1"></textarea>
                    </p>
                    <p class="marginContact textsizeContact">
                        <button>
                            Enviar
                        </button>
                    </p>
                    
                </form>
    </div>
    </main>

    <footer class="footer bgBlack">
        <a href="https://facebook.com" target="_blank">
            <img class="marginIcon" src="../imagenes/fb.png" alt="logo de facebook" />
        </a>
        <a href="https://instagram.com" target="_blank">
            <img class="marginIcon" src="../imagenes/ig.png" alt="logo de instagram" />
        </a>
        <h6 id="textFooter">
            SEGUINOS EN NUESTRAS REDES
        </h6>
        </footer>
    
    </body>
    </html>