<!DOCTYPE html>
<html lang="es"> 
  <head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegan Knits - Tejidos Hechos a Mano</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../imagenes/favicon.png">
  </head>
  <body class="contenedorGrid">
      <nav class="nav gradienteinv">
          <a href="../index.html">
              <img class="logoAnimado" src="../imagenes/logo.png" alt="logo de vegan knits">
          </a>
          <ul>
              <li>
                  <a href="lana.html">LANA</a>
              </li>
              <li>
                  <a href="cotton.html">COTTON</a>
              </li>
              <li>
                  <a href="customized.html">CUSTOMIZED</a>
              </li>
              <li>
                  <a href="contacto.html">CONTACTO</a>
              </li>
          </ul>
      </nav>
      <!-- ends nav -->
      
      <header class="header">
        <p class="boxEncabezado textBold textCenter textWhite bgGreen">
          TEJIDOS EN FIBRA DE ALGODÓN Y ACRÍLICO
        </p>
        <img src="../imagenes/cotton.png" alt="foto de sweater polera tejido con hilo de algodon en tonos pasteles de color verde amarillo rosa violeta y celeste">
        <h3 class="bgGreen textBold ">
          SWEATERS | POLERAS</h3>
        </header>
      <!--ends header-->


      <main class="textCenter gradiente main margin">
        <section>
  
          <div class="contenedorLana textWhite">
              <div class="caja caja1"> <img class="transformacion2" src="../imagenes/chaleco eucalipto.jpg" alt="chaleco de lana verde"><p class="marginTop">CHALECO EUCALIPTO</p><p>$8.000</p></div>
              <div class="caja caja2"> <img class="transformacion2" src="../imagenes/sweater hongo.jpg" alt="sweater verde con bordado de hongos"><p class="marginTop">SWEATER MUSHROOMS</p><p>$9.500</p></div>
              <div class="caja caja3"> <img class="transformacion2" src="../imagenes/sweater menta.jpg" alt="sweater rayado verde y marron"><p class="marginTop">SWEATER MINT</p><p>$9.500</p></div>
              <div class="caja caja4"> <img class="transformacion2" src="../imagenes/sweater pastel.jpg" alt="sweater de lana rayado "><p class="marginTop">SWEATER PASTEL</p><p>$8.000</p></div>
              <div class="caja caja5"> <img class="transformacion2" src="../imagenes/sweater rayas bordo.jpg" alt="sweater rayado bordo"><p class="marginTop">SWEATER RAYAS</p><p>$9.500</p></div>
              <div class="caja caja6"> <img class="transformacion2" src="../imagenes/sweater rayitas.jpg" alt="sweater lana rayado blanco"><p class="marginTop">SWEATER LINES</p><p>$9.500</p></div>
          </div>
        </section>
    </main>

    
    <footer class="footer bgBlack">
      <a href="https://facebook.com" target="_blank">
        <img class="marginIcon" src="../imagenes/fb.png" alt="logo de facebook" />
      </a>
      <a href="https://instagram.com" target="_blank">
        <img class="marginIcon" src="../imagenes/ig.png" alt="logo de instagram" />
      </a>
      <h6 id="textFooter">
        SEGUINOS EN NUESTRAS REDES
      </h6>
    </footer>
  
  </body>
  </html>